/******* base *******/
img {
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
}
a {
	color: $link-color;
	&:hover {
		color: $link-color;
	}
}
.vh100 {
	//height: 100vh;
	min-height: 100vh;
}
@supports (-webkit-touch-callout: none) {
	.vh100 {
		min-height: -webkit-fill-available;
	}
}
br.sp {
	display: none;
	@include md {
		display: block;	
	}
}
br.pc {
	@include md {
		display: none;
	}
}
html {
	font-size: 62.5%;
}
body {
	font-family: $font-family-base;
	line-height: $line-height-base;
	font-size: $font-size-base;
	color: $text-color-base;
	font-feature-settings: "palt" 1;
	letter-spacing: 0.05em;
	background: linear-gradient(45deg, #aa2426 25%, transparent 25%, transparent 75%, #aa2426 75%),
		linear-gradient(45deg, #aa2426 25%, transparent 25%, transparent 75%, #aa2426 75%);
	background-size: 30px 30px;
	background-position: 0 0, 15px 15px;
	background-color: #c12f2d;
	font-weight: 300;
	@include sm {
		font-size: 1.4rem;
	}
}
span.red {
	color: #BF5045;
}
section {
	padding: 20px 0;
	.content_box {
		background-color: #ffffff;
		max-width: 960px;
		margin: 0 auto;
		padding: 40px;
		border-radius: 20px;
		@include md {
			padding: 30px;
		}
		@include sm {
			padding: 22px;
		}
		.title {
			text-align: center;
			margin-bottom: 28px;
			h2 {
				font-size: 2.6rem;
				font-weight: 500;
				letter-spacing: 0.1em;
				@include md {
					font-size: 2.2rem;
				}
				span {
					border-bottom: 2px solid #BF5045;
					padding-bottom: 3px;
				}
			}
		}
		article.content {
			padding-bottom: 60px;
			@include md {
				padding-bottom: 40px;
			}
			&:last-child {
				padding-bottom: 0;
			}
		}
	}
}
header {
	position: fixed;
	top: 20px;
	right: 15px;
	z-index: 100;
	ul.gnav {
		list-style: none;
		text-align: right;
		li {
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 1.8;
			a {
				color: #ffffff;
				text-decoration: none;
				&:hover {
					color: #ffffff;
					text-decoration: none;
				}
			}
		}
	}
}
section.mainvisual {
	padding: 0;
	h1.logo {
		max-width: 30%;
		@include md {
			max-width: 50%;
		}
	}
	&.second {
		padding: 20px 0;
		//height: 80px;
		h1.logo {
			max-width: 44px;
		}
	}
}
footer {
	padding-bottom: 15px;
	p {
		text-align: center;
		small {
			font-size: 1.2rem;
			color: #ffffff;
		}
	}
}