#hamburger {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	color: #fff;
	z-index: 100;
	pointer-events: auto;
	svg {
		width: 100%;
		height: 100%;
		filter: drop-shadow(0 0 1px #aa2426);
		rect {
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
		}
		line {
			stroke: currentColor;
			stroke-width: 2px;
			fill: none;
			transition: all .2s ease-out;
			opacity: 1;
		}
	}
	&:hover {
		cursor: pointer;
	}
	&.show {
		color: #fff;
		svg{
			line:nth-of-type(1) {
				transform-origin: 50% 30%;
				transform: translate(0,20%) rotate(45deg);
			}
			line:nth-of-type(2) {
				opacity: 0;
			}
			line:nth-of-type(3) {
				transform-origin: 50% 70%;
				transform: translate(0,-20%) rotate(-45deg);
			}
		}
	}
}
.drawer {
	z-index: 9;
	position: fixed;
	top: -50px;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	transition: all .2s ease-out;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	//background-color: blue;
	.drawer_inner {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 100;
		transition: all .4s ease-out;
		transform-origin: left top;
		transform: rotateZ(30deg);
		.drawer_bg {
			position: absolute;
			top: 25%;
			left: 15%;
			width: 70%;
			height: 50%;
			background-position: 20px 20px;
			background-color: #fff;
			background-size: 17%;
			border: 2px solid #aa2426;
			ul {
				list-style-type: none;
				margin: 36px 0 0 100px; 
				padding: 0;
				li {
					line-height: 2.0;
					a {
						&:before {
							content: '- ';
						}
						color: #aa2426;
						text-decoration: none;
						font-weight: bold;
						font-size: 2rem;
					}
				}
			}
		}
	}
	&.show {
		top: 0;
		opacity: 1;
		.drawer_inner {
			transform: rotateZ(0);
			.drawer_bg {
				ul {
					li {
						a {
							pointer-events: auto;
						}
					}
				}
			}
		}
	}
}