section.about {
	.otoku_img {
		clear: both;
		max-width: 330px;
		margin: 0 auto;
		padding-top: 20px;
	}
	.map_sp {
		img {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
section.coupon {
	.coupon_one {
		margin-bottom: 44px;
		&:last-child {
			margin-bottom: 0;
		}
		h2 {
			font-size: 1.8rem;
			margin-bottom: 0.8em;
			font-weight: 500;
		}
		.coupon_img_one {
			p {
				padding-top: 0.5em;
				font-size: 1.3rem;
			}
		}
	}
	.coupon_shop {
		h3 {
			font-size: 1.8rem;
			margin-bottom: 0.8em;
			font-weight: 500;
		}
	}
}