section.route {
	article.head {
		padding-bottom: 40px;
		@include md {
			padding-bottom: 40px;
		}
		.route_logo {
			@include lg {
				max-width: 260px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		h2 {
			font-size: 2.8rem;
			margin-bottom: 0.7em;
			line-height: 1.6;
			text-align: left;
			@include lgadd1 {
				text-align: center;
			}
			@include sm {
				font-size: 2.2rem;
			}
		}
	}
	article.content {
		.route_title {
			position: relative;
  			padding: 1rem .5rem;
			margin-bottom: 30px;
			h2 {
				font-size: 2.4rem;
				color: #D12426;
				line-height: 1.6;
				&.pass {
					position: relative;
  					padding-left: 66px;
					&:before {
						position: absolute;
						top: 5px;
						left: 0;
						content: "";
  						display: inline-flex;
						width: 70px;
						height: 70px;
						background: url("../images/coupon_icon.png") no-repeat;
						background-size: contain;
						margin-right: 10px;
					}	
				}
			}
			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 8px;
				content: '';
				background-image: url("../images/route_ul.png");
				background-size: contain;
				background-repeat: repeat-x;
			}
		}
		.route_scd {
			p {
				font-size: 1.2rem;
				padding-top: 1em;
			}
		}
		.route_content {
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0;
			}
			h3 {
				font-size: 1.8rem;
				margin-bottom: 0.8em;
				font-weight: 500;
				line-height: 1.6;
			}
			.route_content_img {
				padding-top: 20px;
				.route_img_one {
					margin-bottom: 22px;
					&:last-child {
						margin-bottom: 0;
					}
					p {
						padding-top: 0.5em;
						font-size: 1.3rem;
					}
					&.soba {
						margin-bottom: 0px;
					}
				}
			}
		}
	}
}
section.routemap {
	.title {
		margin-bottom: 50px;
		h2 {
			position: relative;
			padding: 0 .5rem 1.4rem;
			span {
				border-bottom: 2px solid #BF5045;
				padding-bottom: 1em;
			}
			&.map1 {
				&:before {
					position: absolute;
					content: "路線図";
					font-size: 1.2rem;
					bottom: -10px;
					left: 50%;
					transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
				}
			}
			&.map2 {
				&:before {
					position: absolute;
					content: "時刻表";
					font-size: 1.2rem;
					bottom: -10px;
					left: 50%;
					transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
				}
			}
		}
	}
	.alart {
		margin-bottom: 30px;
		p {
			color: red;
			font-size: 120%;
			font-weight: bold;
		}
	}
	.timetable {
		.table_block {
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0;
			}
			.title {
				margin-bottom: 15px;
				text-align: left;
				h2 {
					font-size: 1.8rem;
					border-left: solid 5px;
					line-height: 1;
					padding: 0 0 0 10px;
					font-weight: 500;
				}
			}
			table {
				margin-bottom: 15px;
				font-size: 1.4rem;
				vertical-align: middle;
				text-align: center;
			}
			&.echizen {
				h2 {
					color: #3954A4;
					border-color: #3954A4;
				}
				thead {
					background-color: #3954A4;
					color: #ffffff;
				}
				th {
					color: #3954A4;
				}
				td.closeup {
					background-color: #dad9ed;
				}
			}
			&.eiheiji {
				h2 {
					color: #8FC31F;
					border-color: #8FC31F;
				}
				thead {
					background-color: #8FC31F;
					color: #ffffff;
				}
				th {
					color: #8FC31F;
				}
				td.closeup {
					background-color: #ecf4da;
				}
			}
			&.ichijou {
				h2 {
					color: #EA5514;
					border-color: #EA5514;
				}
				thead {
					background-color: #EA5514;
					color: #ffffff;
				}
				th {
					color: #EA5514;
				}
				td.closeup {
					background-color: #fbe2cd;
				}
			}
			&.keifuku {
				h2 {
					color: #920783;
					border-color: #920783;
				}
				thead {
					background-color: #920783;
					color: #ffffff;
				}
				th {
					color: #920783;
				}
				td.closeup1 {
					background-color: #f5eaf4;
				}
				td.closeup2 {
					background-color: #920783;
					color: #ffffff;
				}
			}
		}
	}
}