@charset "UTF-8";
$font-family-base: 'Noto Sans JP', sans-serif;
$font-size-base: 1.5rem;
$line-height-base: 1.7;
$text-color-base: #000000;
$brand-primary: $text-color-base;
$link-color: $text-color-base;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap');
@import "media";
@import "animate";
@import "common";
@import "hamburger";
@import "index";
@import "second";